.input-div {
  border: 1px solid;
  width: 235px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 15px;
}
.input {
  font-size: large;
  border: none;
}
.input:focus {
  outline: none;
}
.input-div.focused {
  border: 2px solid blue;
}
